{% extends 'base.html' %}
{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        width : 100px;
        height: 40px;
    }
    th, td {
        padding: 10px;
    }
    th {
        text-align: center;
    }
</style>
<div class="table table-bordered">
    <h1>{{ user.username }}이 듣는 수업들</h1>
    <ul>
        {% for class in cl %}
        <li><a href="{{ url_for('question._list', course=class) }}">{{ class }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}